@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,800,700,500,400,300&display=swap');
@import "tailwindcss";

@theme {
  --font-satoshi: 'Satoshi', sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
}

:root {
  --font-satoshi: 'Satoshi', sans-serif;
}

body {
  font-family: var(--font-satoshi), sans-serif;
}

